@import 'about.css';
@import 'catalog.css';
@import 'faculty.css';

html, body {
    background-color: rgb(39, 165, 208);
    font-family: Arial, sans-serif, Helvetica;
    margin: 0;
    padding: 20px;
}

body{
    nav{
        ul{
            list-style-type:none;
            padding:0;
        }
        li {
            display: inline;
            margin-right: 15px;
        }
        a{
            text-decoration: none;
            color: #000000;
            font-weight: bold;
            &:hover {
                color: #ffffff;
            }
        }
    }
}