<%- include('partials/header') %>
  <main>
    <h1><%= title %></h1>
    <div class="bio">
      <h3>Laurin Vasquez</h3>
      <div class="bio-container">
        <img src="../images/family.jpeg" alt="Family" width="200" />
        <p>
          My name is Laurin and I am a student at BYU-Idaho. I am currently
          studying computer science and I am in my second year of school. I am
          originally from California but I have lived in Idaho for the past 5
          years. I am passionate about technology and I am excited to learn more
          about it in my classes. In my free time, I enjoy playing video games,
          hiking, and spending time with my friends and family.
        </p>
      </div>
      <h4>My hobbies:</h4>
      <ul>
        <li>Basketball</li>
        <li>Swimming</li>
        <li>Running</li>
        <li>Hiking</li>
        <li>Spending time with friends and family</li>
      </ul>
    </div>
  </main>
<%- include('partials/footer') %>
