<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Welcome to the home page, we will have more information about our products and how we are the best in what we do</p>
    <p> Glad to have you <%= name %></p>
</main>
<%- include('partials/footer') %>