<%- include("../partials/header") %>
<main>
    <h1> Not here, huh? </h1>
    <p>Sorry, the page you are looking for cannot be found.</p>
    <p>Page not Found</p>
    <img src="/images/notFound.gif" alt="404 Not Found">
    <p>Return to <a href="/">Home Page</a> to continue browsing.</p>
</main>
<%- include("../partials/footer") %>

